.fw-search_form {
	border: 1px solid #cfcfcf;
	clear: both;
}

.fw-search_form .fw-search_form-title {
	position: relative;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	background: #f2f2f2;
	padding: 15px 40px;
	margin: 0;
	cursor: pointer;
	border-top: 1px solid #cfcfcf;
}

.fw-search_form .fw-search_form-title:focus {
	outline: medium none;
}

.fw-search_form .fw-search_form-title:first-child {
	border-top: none;
}

.fw-search_form .fw-search_form-title.ui-state-active {
	background: none;
}

.fw-search_form .fw-search_form-title .ui-icon {
	background: url("../img/plus-search_form.png") no-repeat;
	position: absolute;
	top: 20px;
	left: 15px;
	width: 8px;
	height: 8px;
}

.fw-search_form .fw-search_form-title.ui-state-active .ui-icon {
	background: url("../img/minus-search_form.png") no-repeat;
	top: 22px;
}

.fw-search_form .fw-search_form-content {
	padding: 0;
}

.fw-search_form .fw-search_form-content > p {
	padding: 0 30px 20px 30px;
}

.fw-search_form .fw-search_form-content p:last-child {
	margin-bottom: 0;
}
