/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0;
	padding: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	background-color: #f7f7f7;
	background-repeat: repeat-x;
	background-position: top;
}

#home { background-image: url(../images/templatemo_body_home.png) }
#subpage { background-image: url(../images/templatemo_body_subpage.png) }

a, a:link, a:visited { color: #666; font-weight: normal; text-decoration: none }
a:hover { text-decoration: underline; }

a.more { display: inline-block; padding: 3px 10px; font-size: 12px; font-weight: bold; color: #21bdd0; background: #e9e9e9 }
a.more:hover { background: #333; text-decoration: none }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; max-width: none !important;}
blockquote { border: 1px solid #ccc; border-left: 5px solid #000; padding: 19px; margin: 20px 0 0 0}
cite a, cite a:link, cite a:visited  { font-size: 12px; text-decoration: none; font-style: normal }
cite span { font-weight: 400; color: #333; }

th{
	width: 220px;
	text-align: -webkit-left !important;
}

.tmo_list { margin: 10px 0 10px 0; padding: 0; list-style: none }
.tmo_list li { color:#636363; margin: 0 0 5px 0; padding: 0 0 0 20px; background: url(../images/templatemo_list.png) no-repeat scroll 0 7px  }
.tmo_list li a { color: #636363; font-weight: normal }
.tmo_list li a:hover { color: #000 }


h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; }
h1 { font-size: 30px; margin: 0 0 30px; padding: 5px 0 }
h2 { font-size: 26px; margin: 0 0 25px; padding: 5px 0 }
h3 { font-size: 20px; margin: 0 0 20px; padding: 0; }
h4 { font-size: 16px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 12px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }

.float_l { float: left }
.float_r { float: right }

#templatemo_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
}

#templatemo_header {
	width: 960px;
	height: 100px;
}

#templatemo_menu { 
	width: 960px;
	height: 50px;
}

#templatemo_middle {
	height: 840px;
	height: 200px;
	padding: 35px 60px;
	background: url(../images/templatemo_middle.png) no-repeat
}

#templatemo_main_top {
	width: 960px;
	height: 12px;
	background: url(../images/templatemo_main_top.png) no-repeat top
}

#templatemo_main {
	width: 960px;
	background: url(../images/templatemo_main_middle.png) repeat-y
}

#sidebar {
	float: left; 
	width: 200px;
	padding: 20px 30px 0 10px;
}

#content {
	float: right;
	width: 700px;
	width: 700px;
	padding: 20px 10px 20px;
}

#templatemo_footer {
	width: 940px;
	padding: 60px 10px 20px;
	background: url(../images/templatemo_main_bottom.png) top no-repeat
}

#header_right { float: right; display: inline-block; padding-top: 20px; }

#language { margin: 0; padding: 0; list-style: none }
#language li { float: right; display: block; margin-left: 5px }

#templatemo_search { clear: both; margin-top: 5px; width: 232px; height: 31px; background: url(../images/templatemo_searchbox.png) }
#templatemo_search form {
	margin: 0;
	padding: 0;
}

#templatemo_search .txt_field {
	float: left;
	display: block;
	height: 30px;
	line-height: 20px;
	width: 180px;
	color: #999;
	font-size: 12px;
	padding: 0 5px;
	font-variant: normal;
	border: none;	
	background: none;
}

#templatemo_search .sub_btn {
	float: right;
	display: block;
 	height: 34px;
	width: 30px;
	cursor: pointer;
	border: none;
	background: none;	
}

#templatemo_middle h1 {
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 40px;
	margin-bottom: 15px;
}

#templatemo_middle p {
	color: #ccc;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 20px;
}

#templatemo_middle img {
	float: right;
	margin-left: 60px;
}

#templatemo_middle a.buy_now {
	display: inline-block;
	padding: 5px 20px;
	font-size: 18px;
	font-weight: bold;
	background: #fff;
	color: #21bdd0;
}

#product_slider {
	padding: 40px 30px 80px 30px;
	background:  url(../images/templatemo_slider.png) bottom center no-repeat
}

#sidebar h3 {
	font-size: 16px;
	padding: 0 0 15px 0;
	margin: 0 0 15px 0;
	background: url(../images/sidebar_header_bg.png)  left bottom no-repeat
}
.sidebar_menu {
	list-style: none;
	margin: 0 0 30px;
	padding: 0;
}
.sidebar_menu li {
	margin: 0;
	padding: 2px 0 3px 15px;
	background: url(../images/templatemo_list_01.png) no-repeat scroll 0 8px;
	border-bottom: 1px dotted #ccc
}

.sidebar_menu li a {
	font-size: 11px;
}

#content h2 { font-size: 24px; padding-bottom: 10px; border-bottom: 1px solid #ccc; margin-bottom: 20px }

table td { border-bottom: 1px solid #ccc }

.checkout input { border: 1px solid #ccc; margin-bottom: 15px; height: 20px; line-height: 18px; 	padding: 3px;}

.faq h3 { font-size: 14px; margin: 30px 0 5px }

.product_gallery {
	margin-bottom: 60px;
	text-align: center
}

.product_gallery img {
	margin-bottom: 5px;
}

.product_gallery h3 {
	font-size: 12px;
	color: #999;
	font-weight: 700;
}

.product_gallery .product_price {
	color: #000 !important;
	font-weight: 700;
	font-size: 13px !important;
	line-height: 1.4em !important;
	color: #000 !important;
	text-align: center;
}

#newsletter {
	margin-bottom: 60px;
}

#newsletter .txt_field {
	width: 188px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 5px;
	margin-bottom: 10px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color:#999;
}

#newsletter .subscribebtn{
	float: right;
	display: inline-block;
	padding: 4px 10px;
	font-size: 12px;
	font-weight: 700;
	background: #21bdd0;
	color: #fff;
	border: none;
}

#contact_form { padding: 0; width: 282px; margin-bottom: 40px }
#contact_form form { margin: 0px; padding: 0px; }
#contact_form form .input_field { width: 220px; padding: 5px; color: #666;  background: #fff; border: 1px solid #dedede; 	font-family: Tahoma, Geneva, sans-serif; font-size: 12px; margin-top: 3px;}

#contact_form form label { display: block; width: 100px; margin-right: 12px; font-size: 11px }
#contact_form form textarea { width: 270px; height: 150px; padding: 5px; color: #666; background: #fff; border: 1px solid #dedede; font-family: Tahoma, Geneva, sans-serif; font-size: 12px; margin-top: 3px;}
#contact_form form .submit_btn { display: block; padding: 5px 12px; text-align: center; text-decoration: none; font-weight: bold;  background-color: #555; border: 1px solid #000; color: #fff; font-size:11px; cursor: pointer }

.footer_menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer_menu li {
	margin: 0;
	padding: 2px 0 3px 0px;
	border-bottom: 1px dotted #ccc
}

.footer_menu li a {
	font-size: 11px;
}

#templatemo_footer p {
	margin: 0 0 10px 0; 
	padding: 0;
	font-size: 13px;
	color: #666;
}

.col { float: left; margin-right: 13px }
.col_13 { width: 300px }
.col_14 { width: 220px }
.col_15 { width: 400px }
.col_16 { width: 140px }
.col_23 { width: 620px }

.checkout {
	margin-right: 20px;
}
.no_margin_right { margin-right: 0 }

p#before-nl-form {
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.4em; 
	margin: 0 0 10px 0; 
	padding: 0; 
}

input[type="number"] {
	width: 20px;
	text-align: right;
}
